{% extends 'base.html' %}
 {% block title %} Sign in {% endblock %}
 {% block content %}
 <div class="row">
     <div class="col-md-8 mx-auto social-container my-2 order-md-1">
         <button class="btn btn-danger  mb-2">
             <a href="{% url 'discord_login' %}">Login with Discord</a>
         </button>
         <button class="btn btn-primary mb-2">
             <a href="{% url 'mail_login' %}">Login with Mail.ru</a>
         </button>
         <button class="btn btn-info mb-2">
             <a href="{% url 'bitbucket_login' %}">Login with BitBucket</a>
         </button>
     </div>
 </div>
 </div>
 {% endblock %}